.main-page {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
}

.left {
    width: 15%;
}

.center {
    width: 60%;
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
    overflow-x: auto;
}

.right{
    width: 25%;
    color: white;
    border: 1px solid white;
}

h2{
    margin: 5px 0;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: hidden;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}