a {
    text-decoration: none !important;
}

.btn-body {
    width: 90%;
    margin: 30px auto;
    padding: 0 15px;
    color: #F8D9C0;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
    background-color: rgba(244, 187, 146, 0.0);
}

.btn-body.active {
    color: rgb(106, 125, 254);
    transform: scale(1.05);
}

.btn-body:hover {
    color: white;
}

.btn-title {
    margin: 0 10px;
    font-weight: 500;
    font-size: 14px;
}