.search-box {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-box input {
    width: 60%;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.561);
}

.search-box input::placeholder {
    font-weight: bold;
    font-size: medium;
}