.login-page {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 60vh;
    min-width: 25%;
    border: 1px solid red;
}

.form-input {
    width: 75%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.form-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.submit-btn {
    width: 120px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.submit-btn:hover {
    background: blue;
    color: white;
}

.spotify-btn {
    color: black;
    background-color: white;
    width: 150px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}